*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-y: scroll;
  scroll-behavior: auto; }

body {
  font-family: "Inter", "sans-serif";
  background-color: #fff;
  font-weight: 600;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 5rem repeat(9, -webkit-min-content);
  grid-template-rows: 5rem repeat(9, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(-webkit-min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end]; }

.boxes {
  grid-column: col-start 3 / col-end 8; }

.boxes-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  align-items: start;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2rem; }

.box {
  padding: 2rem 3rem;
  border-radius: 7px;
  background-color: #fff;
  border: 1px solid #FB9A54;
  transition: all .2s; }

.box:hover {
  background-color: #FB9A54;
  color: #fff; }

.empty-boxes-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0.8px, 1fr));
  grid-column-gap: 1rem; }

.empty-boxes {
  grid-column: col-start 5 / col-end 6; }

.empty {
  background-color: #000;
  width: 100%;
  border: none;
  justify-items: center;
  padding: .1rem 2rem;
  cursor: pointer; }

.project {
  grid-column: col-start 2/ col-end 5;
  display: grid;
  grid-row-gap: 3rem; }
  .project a {
    text-decoration: none;
    color: #FB9A54;
    font-size: 1.2rem; }

.project-img {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  align-items: flex-start; }

.contact {
  grid-column: col-end 5 / col-end 9;
  display: grid;
  grid-row-gap: 3rem; }

.contact-form {
  display: flex;
  flex-direction: column; }

input,
input:active,
input:focus {
  border: none;
  outline: none;
  box-shadow: 0 1px 0px rgba(122, 119, 117, 0.5);
  margin-bottom: 3rem; }

input::-moz-placeholder {
  color: #000;
  display: block; }

input:-ms-input-placeholder {
  color: #000;
  display: block; }

input::placeholder {
  color: #000;
  display: block; }

.contact-box {
  justify-self: end; }

.contact-box button {
  background-color: #FB9A54;
  border: none;
  padding: 1.5rem 2.5rem;
  color: #fff;
  cursor: pointer;
  border-radius: 5px; }

.contact-box button:hover {
  background-color: #fff;
  color: #FB9A54; }

.header {
  grid-column: full-start/ col-end 10;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }

.header_list {
  list-style: none;
  grid-column: 5/8;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center; }

.header_list a:link,
.header_list:active {
  text-decoration: none;
  color: #7A7775;
  font-size: 1.2rem; }

.skills {
  grid-column: col-start 2/ col-end 9;
  display: grid;
  justify-items: center;
  grid-gap: 2rem; }

.display-img {
  grid-column: center-start / center-end;
  display: block; }

.story-content-1 {
  grid-column: full-start/ center-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr); }

.content_1 {
  grid-column: 2/6;
  align-self: center;
  display: grid;
  grid-row-gap: 2rem; }

.content_1-img {
  grid-column: 7 / -1;
  justify-self: end;
  z-index: 20;
  margin-top: -.8rem;
  position: relative; }
  .content_1-img::after {
    content: "";
    position: absolute;
    color: #FB9A54;
    background-color: #FB9A54;
    transform: translate(-3rem);
    height: 30rem;
    width: 100%;
    display: block;
    top: -2rem;
    z-index: -1;
    border-radius: .8rem; }

.button-box {
  display: flex;
  justify-content: space-between; }

.button-box a {
  color: #FB9A54;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 0.5px 0 #FB9A54; }

.content_2 {
  grid-column: 2/6;
  display: grid;
  grid-row-gap: 2rem; }

.story-content-2 {
  grid-column: col-start 3 / col-end 8;
  display: flex;
  align-items: center;
  -moz-column-gap: 4rem;
       column-gap: 4rem; }

.h3-heading {
  font-weight: 600;
  line-height: 1.2;
  font-size: 2.5rem;
  text-transform: capitalize; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400; }

.margin-bottom-large {
  margin-bottom: 5rem; }

.works {
  grid-column: col-start 1 / col-end 10;
  display: grid;
  grid-row-gap: 3rem; }

.works h3 {
  justify-self: center; }

.works-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem; }

.works-box {
  border-radius: 7px;
  padding: 0 0 1rem 0;
  background-color: #7A7775;
  display: grid;
  justify-items: center; }

.button-works {
  justify-self: end; }

.button-works a {
  font-size: 1.3rem; }

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNvbXAuY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBOzs7RUFHRSxTQUFTO0VBQ1QsVUFBVTtFQUNWLG1CQUFtQixFQUFFOztBQUV2QjtFQUNFLHNCQUFzQjtFQUN0QixnQkFBZ0I7RUFDaEIsa0JBQWtCO0VBQ2xCLHFCQUFxQixFQUFFOztBQUV6QjtFQUNFLGtDQUFrQztFQUNsQyxzQkFBc0I7RUFDdEIsZ0JBQWdCO0VBQ2hCLGdCQUFnQixFQUFFOztBQUVwQjtFQUNFLGFBQWE7RUFDYix1REFBK0M7RUFBL0MsK0NBQStDO0VBQy9DLG1MQUEySztFQUEzSywyS0FBMkssRUFBRTs7QUFFL0s7RUFDRSxvQ0FBb0MsRUFBRTs7QUFFeEM7RUFDRSxhQUFhO0VBQ2IsMkRBQTJEO0VBQzNELGtCQUFrQjtFQUNsQixvQkFBb0I7RUFDcEIscUJBQXFCLEVBQUU7O0FBRXpCO0VBQ0Usa0JBQWtCO0VBQ2xCLGtCQUFrQjtFQUNsQixzQkFBc0I7RUFDdEIseUJBQXlCO0VBQ3pCLG1CQUFtQixFQUFFOztBQUV2QjtFQUNFLHlCQUF5QjtFQUN6QixXQUFXLEVBQUU7O0FBRWY7RUFDRSxhQUFhO0VBQ2IsMkRBQTJEO0VBQzNELHFCQUFxQixFQUFFOztBQUV6QjtFQUNFLG9DQUFvQyxFQUFFOztBQUV4QztFQUNFLHNCQUFzQjtFQUN0QixXQUFXO0VBQ1gsWUFBWTtFQUNaLHFCQUFxQjtFQUNyQixtQkFBbUI7RUFDbkIsZUFBZSxFQUFFOztBQUVuQjtFQUNFLG1DQUFtQztFQUNuQyxhQUFhO0VBQ2Isa0JBQWtCLEVBQUU7RUFDcEI7SUFDRSxxQkFBcUI7SUFDckIsY0FBYztJQUNkLGlCQUFpQixFQUFFOztBQUV2QjtFQUNFLGFBQWE7RUFDYixxQkFBZ0I7T0FBaEIsZ0JBQWdCO0VBQ2hCLHVCQUF1QixFQUFFOztBQUUzQjtFQUNFLGtDQUFrQztFQUNsQyxhQUFhO0VBQ2Isa0JBQWtCLEVBQUU7O0FBRXRCO0VBQ0UsYUFBYTtFQUNiLHNCQUFzQixFQUFFOztBQUUxQjs7O0VBR0UsWUFBWTtFQUNaLGFBQWE7RUFDYiw4Q0FBOEM7RUFDOUMsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0UsV0FBVztFQUNYLGNBQWMsRUFBRTs7QUFGbEI7RUFDRSxXQUFXO0VBQ1gsY0FBYyxFQUFFOztBQUZsQjtFQUNFLFdBQVc7RUFDWCxjQUFjLEVBQUU7O0FBRWxCO0VBQ0UsaUJBQWlCLEVBQUU7O0FBRXJCO0VBQ0UseUJBQXlCO0VBQ3pCLFlBQVk7RUFDWixzQkFBc0I7RUFDdEIsV0FBVztFQUNYLGVBQWU7RUFDZixrQkFBa0IsRUFBRTs7QUFFdEI7RUFDRSxzQkFBc0I7RUFDdEIsY0FBYyxFQUFFOztBQUVsQjtFQUNFLG1DQUFtQztFQUNuQyxhQUFhO0VBQ2IscUNBQXFDO0VBQ3JDLHlDQUF5QyxFQUFFOztBQUU3QztFQUNFLGdCQUFnQjtFQUNoQixnQkFBZ0I7RUFDaEIsYUFBYTtFQUNiLHFDQUFxQztFQUNyQyxxQkFBcUI7RUFDckIsbUJBQW1CLEVBQUU7O0FBRXZCOztFQUVFLHFCQUFxQjtFQUNyQixjQUFjO0VBQ2QsaUJBQWlCLEVBQUU7O0FBRXJCO0VBQ0UsbUNBQW1DO0VBQ25DLGFBQWE7RUFDYixxQkFBcUI7RUFDckIsY0FBYyxFQUFFOztBQUVsQjtFQUNFLHNDQUFzQztFQUN0QyxjQUFjLEVBQUU7O0FBRWxCO0VBQ0UsbUNBQW1DO0VBQ25DLGFBQWE7RUFDYixxQ0FBcUMsRUFBRTs7QUFFekM7RUFDRSxnQkFBZ0I7RUFDaEIsa0JBQWtCO0VBQ2xCLGFBQWE7RUFDYixrQkFBa0IsRUFBRTs7QUFFdEI7RUFDRSxtQkFBbUI7RUFDbkIsaUJBQWlCO0VBQ2pCLFdBQVc7RUFDWCxrQkFBa0I7RUFDbEIsa0JBQWtCLEVBQUU7RUFDcEI7SUFDRSxXQUFXO0lBQ1gsa0JBQWtCO0lBQ2xCLGNBQWM7SUFDZCx5QkFBeUI7SUFDekIsMkJBQTJCO0lBQzNCLGFBQWE7SUFDYixXQUFXO0lBQ1gsY0FBYztJQUNkLFVBQVU7SUFDVixXQUFXO0lBQ1gsb0JBQW9CLEVBQUU7O0FBRTFCO0VBQ0UsYUFBYTtFQUNiLDhCQUE4QixFQUFFOztBQUVsQztFQUNFLGNBQWM7RUFDZCxxQkFBcUI7RUFDckIsZUFBZTtFQUNmLGdCQUFnQjtFQUNoQiw2QkFBNkIsRUFBRTs7QUFFakM7RUFDRSxnQkFBZ0I7RUFDaEIsYUFBYTtFQUNiLGtCQUFrQixFQUFFOztBQUV0QjtFQUNFLG9DQUFvQztFQUNwQyxhQUFhO0VBQ2IsbUJBQW1CO0VBQ25CLHFCQUFnQjtPQUFoQixnQkFBZ0IsRUFBRTs7QUFFcEI7RUFDRSxnQkFBZ0I7RUFDaEIsZ0JBQWdCO0VBQ2hCLGlCQUFpQjtFQUNqQiwwQkFBMEIsRUFBRTs7QUFFOUI7RUFDRSxpQkFBaUI7RUFDakIsZ0JBQWdCLEVBQUU7O0FBRXBCO0VBQ0UsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0UscUNBQXFDO0VBQ3JDLGFBQWE7RUFDYixrQkFBa0IsRUFBRTs7QUFFdEI7RUFDRSxvQkFBb0IsRUFBRTs7QUFFeEI7RUFDRSxhQUFhO0VBQ2IsMkRBQTJEO0VBQzNELGNBQWMsRUFBRTs7QUFFbEI7RUFDRSxrQkFBa0I7RUFDbEIsbUJBQW1CO0VBQ25CLHlCQUF5QjtFQUN6QixhQUFhO0VBQ2IscUJBQXFCLEVBQUU7O0FBRXpCO0VBQ0UsaUJBQWlCLEVBQUU7O0FBRXJCO0VBQ0UsaUJBQWlCLEVBQUUiLCJmaWxlIjoic3R5bGUucHJlZml4LmNzcyIsInNvdXJjZXNDb250ZW50IjpbIiosXG4qOjpiZWZvcmUsXG4qOjphZnRlciB7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDtcbiAgYm94LXNpemluZzogaW5oZXJpdDsgfVxuXG5odG1sIHtcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbiAgZm9udC1zaXplOiA2Mi41JTtcbiAgb3ZlcmZsb3cteTogc2Nyb2xsO1xuICBzY3JvbGwtYmVoYXZpb3I6IGF1dG87IH1cblxuYm9keSB7XG4gIGZvbnQtZmFtaWx5OiBcIkludGVyXCIsIFwic2Fucy1zZXJpZlwiO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZmZmO1xuICBmb250LXdlaWdodDogNjAwO1xuICBsaW5lLWhlaWdodDogMS42OyB9XG5cbi5jb250YWluZXIge1xuICBkaXNwbGF5OiBncmlkO1xuICBncmlkLXRlbXBsYXRlLXJvd3M6IDVyZW0gcmVwZWF0KDksIG1pbi1jb250ZW50KTtcbiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiBbZnVsbC1zdGFydF0gbWlubWF4KDZyZW0sIDFmcikgW2NlbnRlci1zdGFydF0gcmVwZWF0KDEwLCBbY29sLXN0YXJ0XSBtaW5tYXgobWluLWNvbnRlbnQsIDE0cmVtKSBbY29sLWVuZF0pIFtjZW50ZXItZW5kXSBtaW5tYXgoNHJlbSwgMWZyKSBbZnVsbC1lbmRdOyB9XG5cbi5ib3hlcyB7XG4gIGdyaWQtY29sdW1uOiBjb2wtc3RhcnQgMyAvIGNvbC1lbmQgODsgfVxuXG4uYm94ZXMtaXRlbXMge1xuICBkaXNwbGF5OiBncmlkO1xuICBncmlkLXRlbXBsYXRlLWNvbHVtbnM6IHJlcGVhdChhdXRvLWZpdCwgbWlubWF4KDE4cmVtLCAxZnIpKTtcbiAgYWxpZ24taXRlbXM6IHN0YXJ0O1xuICBncmlkLXJvdy1nYXA6IDEuNXJlbTtcbiAgZ3JpZC1jb2x1bW4tZ2FwOiAycmVtOyB9XG5cbi5ib3gge1xuICBwYWRkaW5nOiAycmVtIDNyZW07XG4gIGJvcmRlci1yYWRpdXM6IDdweDtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2ZmZjtcbiAgYm9yZGVyOiAxcHggc29saWQgI0ZCOUE1NDtcbiAgdHJhbnNpdGlvbjogYWxsIC4yczsgfVxuXG4uYm94OmhvdmVyIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI0ZCOUE1NDtcbiAgY29sb3I6ICNmZmY7IH1cblxuLmVtcHR5LWJveGVzLWl0ZW1zIHtcbiAgZGlzcGxheTogZ3JpZDtcbiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoYXV0by1maXQsIG1pbm1heCgwLjhweCwgMWZyKSk7XG4gIGdyaWQtY29sdW1uLWdhcDogMXJlbTsgfVxuXG4uZW1wdHktYm94ZXMge1xuICBncmlkLWNvbHVtbjogY29sLXN0YXJ0IDUgLyBjb2wtZW5kIDY7IH1cblxuLmVtcHR5IHtcbiAgYmFja2dyb3VuZC1jb2xvcjogIzAwMDtcbiAgd2lkdGg6IDEwMCU7XG4gIGJvcmRlcjogbm9uZTtcbiAganVzdGlmeS1pdGVtczogY2VudGVyO1xuICBwYWRkaW5nOiAuMXJlbSAycmVtO1xuICBjdXJzb3I6IHBvaW50ZXI7IH1cblxuLnByb2plY3Qge1xuICBncmlkLWNvbHVtbjogY29sLXN0YXJ0IDIvIGNvbC1lbmQgNTtcbiAgZGlzcGxheTogZ3JpZDtcbiAgZ3JpZC1yb3ctZ2FwOiAzcmVtOyB9XG4gIC5wcm9qZWN0IGEge1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgICBjb2xvcjogI0ZCOUE1NDtcbiAgICBmb250LXNpemU6IDEuMnJlbTsgfVxuXG4ucHJvamVjdC1pbWcge1xuICBkaXNwbGF5OiBmbGV4O1xuICBjb2x1bW4tZ2FwOiAycmVtO1xuICBhbGlnbi1pdGVtczogZmxleC1zdGFydDsgfVxuXG4uY29udGFjdCB7XG4gIGdyaWQtY29sdW1uOiBjb2wtZW5kIDUgLyBjb2wtZW5kIDk7XG4gIGRpc3BsYXk6IGdyaWQ7XG4gIGdyaWQtcm93LWdhcDogM3JlbTsgfVxuXG4uY29udGFjdC1mb3JtIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjsgfVxuXG5pbnB1dCxcbmlucHV0OmFjdGl2ZSxcbmlucHV0OmZvY3VzIHtcbiAgYm9yZGVyOiBub25lO1xuICBvdXRsaW5lOiBub25lO1xuICBib3gtc2hhZG93OiAwIDFweCAwcHggcmdiYSgxMjIsIDExOSwgMTE3LCAwLjUpO1xuICBtYXJnaW4tYm90dG9tOiAzcmVtOyB9XG5cbmlucHV0OjpwbGFjZWhvbGRlciB7XG4gIGNvbG9yOiAjMDAwO1xuICBkaXNwbGF5OiBibG9jazsgfVxuXG4uY29udGFjdC1ib3gge1xuICBqdXN0aWZ5LXNlbGY6IGVuZDsgfVxuXG4uY29udGFjdC1ib3ggYnV0dG9uIHtcbiAgYmFja2dyb3VuZC1jb2xvcjogI0ZCOUE1NDtcbiAgYm9yZGVyOiBub25lO1xuICBwYWRkaW5nOiAxLjVyZW0gMi41cmVtO1xuICBjb2xvcjogI2ZmZjtcbiAgY3Vyc29yOiBwb2ludGVyO1xuICBib3JkZXItcmFkaXVzOiA1cHg7IH1cblxuLmNvbnRhY3QtYm94IGJ1dHRvbjpob3ZlciB7XG4gIGJhY2tncm91bmQtY29sb3I6ICNmZmY7XG4gIGNvbG9yOiAjRkI5QTU0OyB9XG5cbi5oZWFkZXIge1xuICBncmlkLWNvbHVtbjogZnVsbC1zdGFydC8gY29sLWVuZCAxMDtcbiAgZGlzcGxheTogZ3JpZDtcbiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoOCwgMWZyKTtcbiAgYm94LXNoYWRvdzogMCA0cHggNHB4IHJnYmEoMCwgMCwgMCwgMC4yNSk7IH1cblxuLmhlYWRlcl9saXN0IHtcbiAgbGlzdC1zdHlsZTogbm9uZTtcbiAgZ3JpZC1jb2x1bW46IDUvODtcbiAgZGlzcGxheTogZ3JpZDtcbiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoNCwgMWZyKTtcbiAganVzdGlmeS1pdGVtczogY2VudGVyO1xuICBhbGlnbi1pdGVtczogY2VudGVyOyB9XG5cbi5oZWFkZXJfbGlzdCBhOmxpbmssXG4uaGVhZGVyX2xpc3Q6YWN0aXZlIHtcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuICBjb2xvcjogIzdBNzc3NTtcbiAgZm9udC1zaXplOiAxLjJyZW07IH1cblxuLnNraWxscyB7XG4gIGdyaWQtY29sdW1uOiBjb2wtc3RhcnQgMi8gY29sLWVuZCA5O1xuICBkaXNwbGF5OiBncmlkO1xuICBqdXN0aWZ5LWl0ZW1zOiBjZW50ZXI7XG4gIGdyaWQtZ2FwOiAycmVtOyB9XG5cbi5kaXNwbGF5LWltZyB7XG4gIGdyaWQtY29sdW1uOiBjZW50ZXItc3RhcnQgLyBjZW50ZXItZW5kO1xuICBkaXNwbGF5OiBibG9jazsgfVxuXG4uc3RvcnktY29udGVudC0xIHtcbiAgZ3JpZC1jb2x1bW46IGZ1bGwtc3RhcnQvIGNlbnRlci1lbmQ7XG4gIGRpc3BsYXk6IGdyaWQ7XG4gIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KDgsIDFmcik7IH1cblxuLmNvbnRlbnRfMSB7XG4gIGdyaWQtY29sdW1uOiAyLzY7XG4gIGFsaWduLXNlbGY6IGNlbnRlcjtcbiAgZGlzcGxheTogZ3JpZDtcbiAgZ3JpZC1yb3ctZ2FwOiAycmVtOyB9XG5cbi5jb250ZW50XzEtaW1nIHtcbiAgZ3JpZC1jb2x1bW46IDcgLyAtMTtcbiAganVzdGlmeS1zZWxmOiBlbmQ7XG4gIHotaW5kZXg6IDIwO1xuICBtYXJnaW4tdG9wOiAtLjhyZW07XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTsgfVxuICAuY29udGVudF8xLWltZzo6YWZ0ZXIge1xuICAgIGNvbnRlbnQ6IFwiXCI7XG4gICAgcG9zaXRpb246IGFic29sdXRlO1xuICAgIGNvbG9yOiAjRkI5QTU0O1xuICAgIGJhY2tncm91bmQtY29sb3I6ICNGQjlBNTQ7XG4gICAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTNyZW0pO1xuICAgIGhlaWdodDogMzByZW07XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgZGlzcGxheTogYmxvY2s7XG4gICAgdG9wOiAtMnJlbTtcbiAgICB6LWluZGV4OiAtMTtcbiAgICBib3JkZXItcmFkaXVzOiAuOHJlbTsgfVxuXG4uYnV0dG9uLWJveCB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjsgfVxuXG4uYnV0dG9uLWJveCBhIHtcbiAgY29sb3I6ICNGQjlBNTQ7XG4gIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgZm9udC1zaXplOiAxcmVtO1xuICBmb250LXdlaWdodDogNjAwO1xuICBib3gtc2hhZG93OiAwIDAuNXB4IDAgI0ZCOUE1NDsgfVxuXG4uY29udGVudF8yIHtcbiAgZ3JpZC1jb2x1bW46IDIvNjtcbiAgZGlzcGxheTogZ3JpZDtcbiAgZ3JpZC1yb3ctZ2FwOiAycmVtOyB9XG5cbi5zdG9yeS1jb250ZW50LTIge1xuICBncmlkLWNvbHVtbjogY29sLXN0YXJ0IDMgLyBjb2wtZW5kIDg7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGNvbHVtbi1nYXA6IDRyZW07IH1cblxuLmgzLWhlYWRpbmcge1xuICBmb250LXdlaWdodDogNjAwO1xuICBsaW5lLWhlaWdodDogMS4yO1xuICBmb250LXNpemU6IDIuNXJlbTtcbiAgdGV4dC10cmFuc2Zvcm06IGNhcGl0YWxpemU7IH1cblxuLnBhcmFncmFwaCB7XG4gIGZvbnQtc2l6ZTogMS42cmVtO1xuICBmb250LXdlaWdodDogNDAwOyB9XG5cbi5tYXJnaW4tYm90dG9tLWxhcmdlIHtcbiAgbWFyZ2luLWJvdHRvbTogNXJlbTsgfVxuXG4ud29ya3Mge1xuICBncmlkLWNvbHVtbjogY29sLXN0YXJ0IDEgLyBjb2wtZW5kIDEwO1xuICBkaXNwbGF5OiBncmlkO1xuICBncmlkLXJvdy1nYXA6IDNyZW07IH1cblxuLndvcmtzIGgzIHtcbiAganVzdGlmeS1zZWxmOiBjZW50ZXI7IH1cblxuLndvcmtzLWJveGVzIHtcbiAgZGlzcGxheTogZ3JpZDtcbiAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoYXV0by1maXQsIG1pbm1heCgyMnJlbSwgMWZyKSk7XG4gIGdyaWQtZ2FwOiAycmVtOyB9XG5cbi53b3Jrcy1ib3gge1xuICBib3JkZXItcmFkaXVzOiA3cHg7XG4gIHBhZGRpbmc6IDAgMCAxcmVtIDA7XG4gIGJhY2tncm91bmQtY29sb3I6ICM3QTc3NzU7XG4gIGRpc3BsYXk6IGdyaWQ7XG4gIGp1c3RpZnktaXRlbXM6IGNlbnRlcjsgfVxuXG4uYnV0dG9uLXdvcmtzIHtcbiAganVzdGlmeS1zZWxmOiBlbmQ7IH1cblxuLmJ1dHRvbi13b3JrcyBhIHtcbiAgZm9udC1zaXplOiAxLjNyZW07IH1cbiJdfQ== */