//COLOR VARIABLE

$color-primary:#FB9A54;


$color-grey-light-1: #E5E5E5;
$color-grey-light-2: #C4C4C4;

$color-grey-dark-1: #7A7775;
$color-grey-dark-2: #7A7775;

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium:50em; //800px
$bp-small:37.5em; //600px

//FONT VARIABLE
$font-primary: 'Inter', 'sans-serif';

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
 
html{
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px = 62.5%  --- 1rem = 10px

    overflow-y: scroll;
    scroll-behavior: auto;

}

body{
    font-family: $font-primary;
    background-color: #fff;
    font-weight: 600;
    line-height: 1.6;

    

    
}
.container{
    display: grid;
    grid-template-rows: 5rem repeat(9, min-content) ;
    grid-template-columns:[full-start] minmax(6rem, 1fr) [center-start] repeat(10, [col-start] minmax(min-content, 14rem) [col-end])  [center-end] minmax(4rem, 1fr) [full-end];
}