.boxes{
    grid-column: col-start 3 / col-end 8;
    //justify-items: center;
    
    
}

.boxes-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));

    align-items: start;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2rem;
}

.box{
    padding:  2rem 3rem;
    border-radius: 7px;
    background-color: #fff;
    
    border: 1px solid $color-primary;

    transition: all .2s;
}

.box:hover{
    background-color: $color-primary;
    color: #fff;
}

.empty-boxes-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(.8px, 1fr));

    grid-column-gap: 1rem;
}

.empty-boxes{
    grid-column: col-start 5 / col-end 6;
}

.empty{
    background-color: #000;
    width: 100%;
    border: none;
    justify-items: center;

    padding: .1rem 2rem;
    cursor: pointer;
}