.project{
    grid-column: col-start 2/ col-end 5;

    display: grid;
    grid-row-gap: 3rem;

    a{
        text-decoration: none;
        color: $color-primary;
        font-size: 1.2rem;
    }

}

.project-img{
    display: flex;
    column-gap: 2rem;
    align-items: flex-start;
}


.contact{
    grid-column: col-end 5 / col-end 9;

    display: grid;
    grid-row-gap: 3rem;
}

.contact-form{
    display: flex;
    flex-direction: column;


}

input,
input:active,
input:focus{
    border: none;
    outline: none;

    box-shadow: 0 1px 0px rgba($color-grey-dark-2, 0.5);

    margin-bottom: 3rem;

}

input::placeholder{
    color: #000;
    display: block;
}

.contact-box{
    justify-self: end;
}
.contact-box button{
    background-color: $color-primary;
    border: none;

    padding: 1.5rem 2.5rem;
    color: #fff;

    cursor: pointer;
    border-radius: 5px;
}
.contact-box button:hover{
    background-color: #fff;
    color: $color-primary;
}