.display-img{
    grid-column: center-start / center-end;
    display: block;
}
.story-content-1{
    grid-column: full-start/ center-end;
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.content_1{
    grid-column: 2/6;
    align-self: center;

    display: grid;
    grid-row-gap: 2rem;
}

.content_1-img{
    grid-column: 7 / -1;
   justify-self: end;
   z-index: 20;

   margin-top: -.8rem;

   position: relative;

   &::after{
       content: "";
       position: absolute;
       color: $color-primary;
       background-color: $color-primary;
       transform: translate(-3rem);
       height: 30rem;
       width: 100%;
       display: block;
       top: -2rem;
       z-index: -1;
       border-radius: .8rem;
   }
    
}
.button-box{
    display: flex;
    justify-content: space-between;    
}

.button-box a{
    color: $color-primary;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    //border-bottom: 1px solid $color-primary;
    box-shadow: 0 .5px 0 $color-primary;
}


.content_2{
    grid-column: 2/6;

    display: grid;
    grid-row-gap: 2rem;
}

.story-content-2{
    grid-column: col-start 3 / col-end 8;


    display: flex;
    align-items: center;
    column-gap: 4rem;
}